<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.human.dao.IF_MenuDAO">
	
	<insert id="insertMenu" parameterType="com.human.VO.MenuVO">
		insert into menu_tbl values(menu_no_sq.nextval,#{menu_name},#{menu_kcal},#{menu_cost})
	</insert>

	<select id="selectMenu" parameterType="int" resultType="com.human.VO.MenuVO">
		select * from menu_tbl where menu_no = #{menu_no}
	</select>
	
	<select id="selectMenuList" resultType="com.human.VO.MenuVO">
		select * from menu_tbl
	</select>
	
	<select id= "selectMenuByCategory" parameterType="com.human.VO.MenuVO" resultType="com.human.VO.MenuVO">
		
	</select>

	
</mapper>